- wrap_layout :layout do
  - if is_blog_article?
    .article
      .date
        #{current_resource.date.strftime('%b %e %Y')},
        = current_resource.metadata[:page]['location']
        - puts current_resource.metadata
      %h1= current_resource.metadata[:page]['title']

      = preserve yield

    .comments
      %div#disqus_thread
    ! <script>var disqus_config = function () { this.page.url = 'https://howl.io#{current_resource.url}'; this.page.identifier = '#{current_resource.request_path}';};(function() { var d = document, s = d.createElement('script'); s.src = '//howleditor.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })();</script>
    ! <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  - else
    = preserve yield
