---
title: User manual
---

%h1 Howl Documentation

.alert.alert-warning
  Howl is currently in early stages. This if sadly enough reflected in
  the incomplete documentation. Additional documentation will appear
  here as it is written. Meanwhile, should you have any questions,
  don't hesitate to
  %a.alert-link(href = "/contact.html") contact me.

%h2#user-manual User manual

= hdr_link 1, 'Getting started', 'manual/getting-started.html'
= hdr_link 2, 'Configuring Howl', 'manual/configuration.html'
= hdr_link 3, 'Using Howl completions', 'manual/completions.html'
= hdr_link 4, 'Working with files', 'manual/files.html'

%h2#api-reference API reference

- howl_api_docs.each do |doc|
  %h4
    %a(href = "#{doc.url}") #{doc.data[:title]}

%h2#howl-specs Howl specs (tests)
%p
  Below are the Howl specs in HTML format. While the specs are certainly not
  complete, they are provided here in the hope that they may be useful for
  better understanding the API, as well as providing some code examples.
  Bundle specs are currently not included in the below list.

- howl_specs.each do |spec|
  %h4
    %a(href = "#{spec.url}") #{spec.data[:title]}

