-# Jumbotron
.jumbotron
  = image_tag "howl.png", class: 'image-responsive', width: 100, height: 100
  %h1
    The Howl Editor
  %p.lead
    A general purpose, light-weight customizable editor.
  %p
    %a.btn.btn-success(href="getit.html")
      Current version: [0.1]
  %p
    = link_to image_tag('screenshots/howl-midnight-t.png'), "images/screenshots/howl-midnight.png"
    = link_to image_tag('screenshots/howl-solarized-t.png'), "images/screenshots/howl-solarized.png"

.row
  .col-lg-4
    %h2 What is it?
    %p
      Howl is a general purpose, text oriented, editor, that aims to be both light-weight
      and fully customizable. It's built on top of the very fast
      #{link_to "LuaJIT", "http://luajit.org"} runtime, and can be extended in either
      #{link_to "Lua", "http://www.lua.org"} or #{link_to "Moonscript", "http://www.moonscript.org"}.

      It is released as free software under the #{link_to "MIT", "http://opensource.org/licenses/MIT"}
      license, with the source being available on #{link_to "Github", "https://github.com/nilnor/howl"}.
    %p
      %a.btn.btn-primary(href="about.html") Tell me more! &raquo;

  .col-lg-4
    %h2 Try it out!

    %p
      Howl is not yet officially released, but you can try it out if you're willing to build it
      from source. Howl is developed on Linux, but it should build on other *NIX platforms as well
      such as the *BSD family, although your mileage may vary. Have a look at the
      installation instructions for more information.
    %p
      %a.btn.btn-primary(href="getit.html") View details &raquo;

  .col-lg-4
    %h2 Learn more
    %p
      Start off with the
      #{link_to "Getting started", "doc/manual/getting-started.html"} section
      from the user manual, which should hopefully get you off the ground.
      For more information about the API and what you can do with Howl,
      head over to the #{link_to "Documentation index", "doc/"}.
    %p
      Follow the development on #{link_to "Twitter", "http://twitter.com/howleditor"}
      for the latest updates.
    %p
      %a.btn.btn-primary(href="doc/") View documentation &raquo;
