.heading-box
  .container
    .row
      .col-lg-12
        .logo.center
          = image_tag "howl.png", class: 'image-responsive', width: 130
    .row
      .col-lg-12.text-center
        %h1.title
          The Howl Editor
        .lead
          %p
            A general purpose, fast and lightweight editor with a
            keyboard-centric minimalistic user interface.
          %p
            Built on LuaJIT and fully programmable using Lua or Moonscript.

.screenshots-box
  .container
    .row
      .col-xs-1
      .col-xs-2
        = link_to image_tag('screenshots/monokai/buffer-structure_tn.png'), "screenshots/monokai.html"
      .col-xs-2
        = link_to image_tag('screenshots/tomorrow-night-blue/buffer-structure_tn.png'), "screenshots/tomorrow-night-blue.html"
      .col-xs-2
        = link_to image_tag('screenshots/solarized-light/buffer-structure_tn.png'), "screenshots/solarized-light.html"
      .col-xs-2
        = link_to image_tag('screenshots/steinom/buffer-structure_tn.png'), "screenshots/steinom.html"
      .col-xs-2
        = link_to image_tag('screenshots/blueberry-blend/buffer-structure_tn.png'), "screenshots/blueberry-blend.html"
      .col-cs-1


.container
  .row.spaced-box
    .col-lg-4
      %h2 What is it?
      %p
        Howl is a general purpose editor that aims to be both lightweight and fully
        customizable. It is built on top of the very fast
        #{link_to "LuaJIT", "http://luajit.org"} runtime, and can be extended in either
        #{link_to "Lua", "http://www.lua.org"} or #{link_to "Moonscript", "http://www.moonscript.org"}.
        It has a minimalistic UI driven mainly by the keyboard.

      %a.btn.btn-primary(href="about.html") More about Howl &raquo;

    .col-lg-4
      %h2 Try it out!
      %p
        Howl #{link_to "version 0.4", "/getit.html"}
        was released on 2016-05-31. Howl source is available on
        #{link_to "GitHub", "https://github.com/howl-editor/howl"} and released under
        the #{link_to "MIT", "http://opensource.org/licenses/MIT"} license.
        Howl is currently developed on and available for Linux, though porting to other
        operating systems is possible.

      %a.btn.btn-primary(href="getit.html") Download &raquo;

    .col-lg-4
      %h2 Latest News
      - blog.articles[0..2].each do |article|
        .news-item
          %span.date= article.date.strftime('%b %e, %Y')
          %span.title= link_to article.title, article

      %p
      %a.btn.btn-primary(href="blog/") More blog entries &raquo;

    .col-lg-4


