---
title: Howl Documentation (0.5)
---
%h1 Howl Documentation: 0.5 Release

.row
  .col-lg-6
    %h2#user-manual User manual

    = hdr_link 1, 'Getting started', 'manual/getting-started.html'
    = hdr_link 2, 'Configuring Howl', 'manual/configuration.html'
    = hdr_link 3, 'Using Howl completions', 'manual/completions.html'
    = hdr_link 4, 'Working with files', 'manual/files.html'
    = hdr_link 5, 'Editing', 'manual/editing.html'
    = hdr_link 6, 'Using multiple views', 'manual/views.html'
    = hdr_link 7, 'Running external commands', 'manual/running_commands.html'
    = hdr_link 8, "What's next?", 'manual/next.html'

  .col-lg-6
    %h2#dev-manual Developer manual

    = hdr_link 1, 'Howl development - the basics', 'manual/dev-howl.html'

%h2#api-reference API reference

.row
  - sliced_for_columns(3, howl_api_docs(0.5)) do |col|
    .col-lg-4
      - col.each do |slice|
        %h3
          %small Module:
          = slice[:package]
        - slice[:docs].each do |doc|
          %h4
            = link_to doc.data[:title], doc.url

%h4 (.. WIP)
